# Mac-tiedostot
.DS_Store

# Claude
.claude

# Mistral Vibe
.vibe

# Käyttäjän projekti
project/

# Ympäristötiedosto
.env

# Devcontainer feature -lukkotiedosto (luodaan automaattisesti)
.devcontainer/devcontainer-lock.json